/* for ShopTitle.js */

.shop-title-main{
  width: 100%;
  height: 40vh;

  display: flex;
  align-items: center;
  justify-content: center;

  
  background-image: url('../../images/Rectangle\ 1.png');
  background-repeat: no-repeat;
  background-size: cover; /* This ensures the image covers the entire div */
  background-position: center; /* This centers the image */


  /* border: 2px solid red; */
}

.shop-title-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop-title-shop{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  
}

.shop-title-breadcrumb-route{
  display: flex;
}

.shop-title-breadcrumb{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.shop-title-breadcrumb-next{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}



















/* for ShopFilter.js */

.shop-filter-main{
  width: 100%;
  height: 12vh;
  background-color: #F9F1E7;

  display: flex;
  align-items: center;
  justify-content: space-around;

  /* border: 2px solid red; */
}

.shop-filter-left{
  width: 33%;
  height: 60%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border: 2px solid black; */
}

.shop-left-filtering{
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;



  /* border: 2px solid green; */
}


.shop-left-filter-img{
  width: 19px;
  height: 16px;

  margin-right: 10px;
}


.shop-left-filter-text{
  margin: auto;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.shop-filter-gridview{
  margin-right: 10%;
}

.shop-filter-bsview{
  margin-right: 10%;
}

.shop-left-filter-showingdetail{
  height: 60%;
  width: 50%;
  /* display: flex;
  align-items: center;
  justify-content: right; */

  border-left: 2px solid #9F9F9F;

  /* border: 2px solid red; */
}


.shop-left-filter-showingdetail-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  margin-top: 5px ;

  text-align: right;
}




.shop-filter-right{
  display: flex;
  width: 33%;
  /* height: 60%; */
  align-items: center;
  justify-content: space-around;

}

.shop-filter-right-show{
  /* height: 80%; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.shop-filter-show{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;

  margin-right: 10%;
  margin-top: 10%;
}

.shop-filter-showinput{
width: 30%;
height: 50px;
border: none;
text-align: center;

font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}

.shop-filter-right-sort{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.shop-filter-sort{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;

  /* margin-right: 10%; */
  margin-top: 5%;
}

.shop-filter-sortinput{
  width: 70%;
  height: 50px;
  border: none;
  text-align: center;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  margin-left: 5%;
}

























/* for ShopProductList.js */



.ourproduct-top{

  margin-top: 50px;

  width: 100%;

  display: flex;
  justify-content: center;
}

 .ourproduct-main{
  width: 85%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  /* border: 2px solid red; */

 }

 .ourproduct-heading{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #3A3A3A;
  text-align: center;
 }


 .ourproduct-multiplecards{
  /* height: 40rem;
  width: 40rem; */

  /* height: 65vh; */
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
 }

 .ourproduct-card{
  width: 23%;
  height: 60vh;
  
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  cursor: pointer;


  /* border: 2px solid green; */

 }

 .ourproduct-card-img{
    height: 67%;
    width: 100%;

    position: relative;
    overflow: hidden;

    
    background-repeat: no-repeat;
    background-size: cover; /* This ensures the image covers the entire div */
    background-position: center; /* This centers the image */
/* 
    display: flex;
    justify-content: end; */

   /* position: relative;  */ /* Ensure the inner div is positioned relative to this parent */

    /* border: 2px solid blue; */
 }


 .ourproduct-card-img-img{
  height: 100%;
  width: 100%;
  object-fit: cover;

  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 

  /* border: 2px solid green; */

}


.ourproduct-card-discount{
  width: 48px;
  height: 48px;

  margin: 25px;
  border-radius: 50%;
  border: none;
  background-color: #E97171;

  display: flex;
  /* align-items: center; */
  justify-content: center;


  position: absolute;

  z-index: 1;

 /* position: absolute;  */ /*Position the child div absolutely within the parent*/
  /*  top: 0;
    left: 0; */

  /* border: 2px solid purple; */
}


.ourproduct-card-new{
  width: 48px;
  height: 48px;

  margin: 25px;
  border-radius: 50%;
  border: none;
  background-color: #2EC1AC;

  display: flex;
  /* align-items: center; */
  justify-content: center;

 /* position: absolute;  */ /*Position the child div absolutely within the parent*/
  /*  top: 0;
    left: 0; */

  /* border: 2px solid purple; */
}

.ourproduct-card-discount-tag{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
}

.ourproduct-aboutcard{
  height: 33%;
  display: flex;
  flex-direction: column;
  

  background-color: #F4F5F7;

  /* border: 2px solid red; */
}

.ourproduct-about-title{
  display: flex;
  flex-direction: column;

  height: 55%;
  /* width: 90%; */
  /* margin-left: 5%; */
  
}

.ourproduct-about-name{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  color: #3A3A3A;
  
  /* margin-top: 15px; */
  min-width: 70%;
  
margin-left: 15px;

  /* border: 2px solid red; */
}

.ourproduct-about-desc{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #898989;
  

  min-width: 40%;
  margin-left: 15px;
  
}

.ourproduct-about-price{
  display: flex;
  gap: 15px;

  justify-content: space-between;

  min-width: 90%;
  /* margin-left: 5%; */
}

.ourproduct-aboutcard-newrs{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #3A3A3A;
  
}
 .ourproduct-aboutcard-oldrs{
  text-decoration: line-through;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #B0B0B0;
 }

 .ourproduct-btn-showmore{
  height: 48px;
  width: 20%;

  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #B88E2F;

  margin-top: 32px;

  border: 1px solid #B88E2F;
  background-color: #FFFFFF;
 }

 .multiple-pages{
  height: 48px;
  width: 100%;

  margin-top: 32px;

  /* border: 1px solid #B88E2F;
  background-color: #FFFFFF; */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;


  /* border: 2px solid red; */
 }

 .onclickpages{
height: 80%;
width: 3%;
border-radius: 20%;
background-color: #B88E2F;
border: none;


display: flex;
align-items: center;
justify-content: center;

 font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color:#FFFFFF;

 }


 .comingpages{
  height: 80%;
  width: 3%;
  border-radius: 10px;
  background-color: #F9F1E7;
  border: none;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  
   font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color:#000000;
  
   }


   .nextpages{
    height: 80%;
    width: 8%;
    border-radius: 10px;
    background-color: #F9F1E7;
    border: none;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
     font-family: 'Poppins', sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      color:#000000;
    
     }
  






     /* Responsive CSS for screen sizes 200px to 500px */
@media screen and (min-width: 200px) and (max-width: 500px) {
  .ourproduct-main {
    width: 95%;
  }

  .ourproduct-card {
    width: 48%;
    height: 50vh;
  }

  .ourproduct-card-img {
    height: 60%;
  }
}

/* Responsive CSS for screen sizes 500px to 800px */
@media screen and (min-width: 500px) and (max-width: 800px) {
  .ourproduct-main {
    width: 85%;
  }

  .ourproduct-card {
    width: 31%;
    height: 55vh;
  }

  .ourproduct-card-img {
    height: 60%;
  }
}

/* Responsive CSS for screen sizes 800px to 1000px */
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .ourproduct-main {
    width: 75%;
  }

  .ourproduct-card {
    width: 23%;
    height: 60vh;
  }

  .ourproduct-card-img {
    height: 67%;
  }
}















     /* for WarrantyDetail.js */

     .warrantydetail{


      margin-top: 50px;



      height: 30vh;
      width: 100%;
      background-color: #FAF3EA;
      border: none;

      display: flex;
      align-items: center;
      justify-content: center;

      gap: 10px;
     }


     .quality{
      width: 23%;
      height: 40%;

      display: flex;
      align-items: center;
      justify-content: center;


      /* border: 2px solid red; */

     }

     .datalogo{
      height: 100%;
      width: 17%;

      display: flex;
      align-items: center;
      justify-content: center;
   
      /* border: 2px solid green; */
     }

     

     .aboutdata{
      height: 100%;
      width: 85%;

      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* align-items: center; */

      /* border: 2px solid black; */
     }

     .aboutdata-title{
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 25px;
      line-height: 37.5px;
      color:#242424;

      margin-top: 10px;
      margin-left: 10px;
     }

     .aboutdata-desc{
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color:#898989;

      margin-top: -15px;
      margin-left: 10px;
     }
     

    



     /* responsive css */

     @media screen and (max-width: 1000px) {
      .warrantydetail {
        flex-direction: column;
        height: auto;
      }
    
      .quality {
        width: 45%;
        height: auto;
        margin-bottom: 20px;
      }
    
      .aboutdata-title {
        font-size: 20px;
        line-height: 30px;
      }
    
      .aboutdata-desc {
        font-size: 16px;
        line-height: 24px;
      }
    }
    
    @media screen and (max-width: 800px) {
      .quality {
        width: 65%;
      }
    }
    
    @media screen and (max-width: 500px) {
      .quality {
        width: 85%;
      }
    
      .datalogo {
        width: 20%;
      }
    }