/* for ShopTitle.js */

.shop-title-main{
  width: 100%;
  height: 40vh;

  display: flex;
  align-items: center;
  justify-content: center;

  
  background-image: url('../../images/Rectangle\ 1.png');
  background-repeat: no-repeat;
  background-size: cover; /* This ensures the image covers the entire div */
  background-position: center; /* This centers the image */


  /* border: 2px solid red; */
}

.shop-title-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop-title-shop{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  
}

.shop-title-breadcrumb-route{
  display: flex;
}

.shop-title-breadcrumb{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.shop-title-breadcrumb-next{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}