/* for CheckoutBanner.js */

.shop-title-main{
  width: 100%;
  height: 40vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
  background-image: url('../../images/Rectangle\ 1.png');
  background-repeat: no-repeat;
  background-size: cover; /* This ensures the image covers the entire div */
  background-position: center; /* This centers the image */


  /* border: 2px solid red; */
}

.checkout-shop-logo{
  height: 40px;
  width: 60px;

  background-image: url('../../images/House_Logo.png');
  background-repeat: no-repeat;
  background-size: cover; /* This ensures the image covers the entire div */
  background-position: center; /* This centers the image */
  
}

.shop-title-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop-title-shop{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  
}

.shop-title-breadcrumb-route{
  display: flex;
}

.shop-title-breadcrumb{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.shop-title-breadcrumb-next{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;


  margin-top: -1px;
}























/* for Billing.js */

.billing-main{
  width: 100%;
  /* height: 180vh; */
  height: 220vh;

  display: flex;
  align-items: center;
  justify-content: center;
  
  /* border: 2px solid red; */
}

.billing-container{
  width: 80%;
  height: 96%;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 1%;


  /* border: 2px solid green; */
}

.billing-inputdata{
  height: 100%;
  width: 40%;

  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* gap: 3%; */


  /* border: 2px solid black; */
}


.billing-title{
  height: 3%;
  width: 75%;
  
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}

.billing-name{
height: 7%;
width: 75%;

display: flex;
align-items: center;
justify-content: space-between;
/* gap: 15px; */

/* border: 2px solid pink; */
}


.billing-fname{
  width: 45%;
  /* height: 100%; */
  height: 70%;

  /* border: 2px solid brown; */
}

.billing-lname{
  width: 45%;
  /* height: 100%; */
  height: 70%;
  /* border: 2px solid brown; */
}



.billing-nameinput{
  width: 100%;
  /* height: 60%; */
  height: 70%;

  border-radius: 10px;
  border: 1px solid #9F9F9F;

  /* border: 2px solid palegreen; */

}


/* apply same styling on multiple classname */

.billing-companyname, .billing-country, .billing-street, .billing-town, .billing-provience, .billing-zip, .billing-phone, .billing-email{
  height: 7%;
  width: 75%;

display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: space-between;
/* gap: 15px; */

margin-top: -50px;

/* border: 2px solid pink; */
}




.billing-all-text{

  height: 25%;


  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  /* border: 2px solid gold; */
}


.billing-all-input{
  width: 100%;
  height: 60%;

  border-radius: 10px;
  border: 1px solid #9F9F9F;

  /* border: 2px solid palegreen; */
}

.billing-all-input::placeholder{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;

  padding: 20px;
}




/* 

.billing-country-input{
  width: 100%;
  height: 60%;

  border-radius: 10px;
  border: 1px solid #9F9F9F;

}

.billing-country-input-option{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;

  padding: 20px;
} */







.billing-additional{
  
  height: 6%;
  width: 75%;

  display: flex;

  align-items: end;


  
  /* border: 1px solid #9F9F9F; */

  
}



.billing-detail{
  height: 65%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 2px solid rgb(64, 9, 204); */
}

.billing-order-detail{
  height: 85%;
  width: 90%;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

  /* border: 2px solid red; */
}

.billing-detail-bill{
min-height: 30%;
width: 100%;

display: flex;
justify-content: space-between;

border-bottom: 1px solid #D9D9D9;

/* border: 2px solid blue; */
}

.billing-detail-product{
height: 100%;
width: 45%;

display: flex;
flex-direction: column;


/* border: 2px solid orange; */
}



.billing-text-product{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}


.billing-product-name{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}

.billing-product-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
}

.billing-quantity{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}


.billing-text-total{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}


.billing-detail-subtotal{
  min-height: 100%;
width: 45%;

display: flex;
flex-direction: column;
align-items: end;


/* border: 2px solid orange; */
}

.billing-text-price{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}


.billing-text-totalprice{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #B88E2F;

  margin-top: 50%;
}




.billing-detail-desc{
  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  /* border: 2px solid green; */
}



.billing-desc-upper{
  width: 100%;
  height: 40%;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.bill-direct-order{
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */

}

.bill-direct-order-text{
  margin-top: 17px;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}



.bill-desc-upper-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;

}



.billing-desc-middle{
  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;


  /* margin-top: -10px; */
}


.circle-logo{
  color: #9F9F9F;

}


.bill-middle-order-text{

  /* margin-top: 10px; */
  
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
}





.billing-desc-bottom{
  width: 100%;
  height: 30%;
}

.bill-desc-bottom-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.bill-bottom-privacy{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}


.billing-detail-btn{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 2px solid black; */
}

.bill-btn-placeorder{
  height: 60%;
  width: 60%;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;

  border-radius: 15px;
  border: 1px solid #000000;
}